BraveSoftware/Brave-Browser
Code
Code - OSS/User
Joplin
Todoist
WebCord
autostart
balena-etcher
calcurse
chromium
dconf
discord
flashfocus
gcolor3
joplin-desktop
kanshi
kde.org
libfm
libreoffice/4/user
pacmixer
systemd/user
nvim
user-dirs.dirs
onedrive/.sync_list.hash
onedrive/.business_shared_folders.hash
onedrive/business_shared_folders
onedrive/items.sqlite3
onedrive/items.sqlite3-shm
onedrive/items.sqlite3-wal
onedrive/refresh_token
onedrive/sync_list
nvim
lazygit/state.yml
lazygit/state.yml
nvim
pulse
pavucontrol.ini
mimeapps.list
qalculate/qalculate-gtk.cfg
kwalletmanager5rc
GIMP/2.10
gtk-2.0
